.button {
  cursor: pointer;
  color: #1f2428;
  border-radius: 10px;
  border: none;
  background-color: #efefef;
  transition-duration: 0.4s;
  margin: 20px;
}

.text {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 20px;
}

.button:hover {
  color: #50a4ff;
}

.wrapper {
  width: 100%;
  border: 2px solid #efefef;
  border-radius: 15px;
}

input[type='color'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  margin: 10px;
  height: 30px;
  width: 30px;
}
