.navigation {
  padding: 20px;
  width: fit-content;
  height: 100%;
  border-right: 1px solid #50a4ff;
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.list .item:not(:last-child) {
  margin-bottom: 10px;
}

.active {
  display: flex;
  align-items: center;
  color: #50a4ff;
  background-color: #eee;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.inactive {
  display: flex;
  align-items: center;
  color: #886478;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.inactive:hover {
  color: #50a4ff;
  background-color: #eee;
}

.text {
  margin: 0;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
}
